@import "mixins";

* { .box-sizing }

body {
	max-width: 800px;
	margin: auto;
	background-image: url("../img/bg.jpg");
}

h1, h2, h {
	font-family: Baskerville;
	font-weight: 300;
	color: #333;
	text-shadow: 0 -1px 0 #CCC;
}

h1 {
	text-align: center;
	font-size: 60px;
	margin: 25px 0;
	padding: 5px 0;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;

}

h2 {
	font-size: 24px;
	border-bottom: 1px solid #444;
	margin-bottom: 10px;
	margin-top: 15px;

	&.subtitle {
		margin-top: -10px;
		//margin-bottom: -20px;
		text-align: center;
		width: 100%;
		border: 0;
		font: 16px "Liberation Serif";
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);
		a { color: black }
	}
}



.placeholder(black);

label {
	font: 14px "Courier New";
}

input, button {
	font-family: "Liberation Serif", "Times";
}

input[type="text"], input[type="email"], textarea {
	width: 100%;
	max-width: 100%;
	font: 16px "Liberation Serif", "Times";
	background: RGBa(255, 255, 255, .3);
	border: 1px solid RGB(150, 150, 150);
	border-width: 0 0 1px 0;
	padding: 5px 0;

	&:focus {
		outline: 0;
	}
}

textarea {
	height: 100px;
}

button {
	border: 1px solid rgb(150, 150, 150);
	.radius(1px);
	.gradient(e("-90deg, #FCFCFC 50%, #F9F9F9 35%, #F5F5F5 15%"))
}


input#tag {
	font-size: 20px;
}


.citations {
	margin: 20px 0;
	
	label {
		display: inline-block;

		&.short {
			width: 10%;
		}

		&.long {
			width: 13%;
			padding-left: 1%;
		}
	}

	input {
		width: 25%;
		padding: 2px 5px;
		font-size: 14px;
		margin-bottom: 5px;

		.box-sizing;
	}

	input.short {
		width: 23%;
	}

	input.long {
		width: 52%;
		float: right;
	}

}



.format {
	text-align: center;
	position: relative;

	&:hover>input::after:checked {
		display: none;
	}

	input {

		&:hover::after, &:not(:checked):hover::after {
			display: block;
		}

		&::after {
			content: '';
			position: absolute;
			width: 70px;
			text-align: center;
			left: 50%;
			margin-left: -35px;
			bottom: -15px;
			display: none;
		}

		&#decratum::after {
			content: 'decratum';
		}

		&#bluebook::after {
			content: 'bluebook';
		}

		&#source::after {
			content: 'the source';
		}

		&#cog::after {
			content: 'cog';
		}

		&#ethos::after {
			content: 'ethos';
		}
	}

}



#card {
	margin-top: 15px;
	span {
		background-color: #CCC;
	}
}